@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.T{
    --fa-rotate-angle: 28deg;
    color: white;
}
.t{
    --fa-rotate-angle: -28deg;
    color: white;
}
.logo{
width: 120px;
height: 60px;
}
.varelaRegular {
    font-family: "Montserrat", sans-serif;
    font-size: 22px !important;
    font-weight: 600;
  }

  @media screen and (max-width:575px) {
    
    .navbar_collapse{
        border-radius: 30%;
        background-color: rgba(0, 0, 0, 0.8) ;
    }
  }