
.logo{
width: 200px;
height: 100px;
}
.font {
 font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 25px;
  }

  

  .scrolled {
    background-color: black; /* Change this to whatever color you want the navbar to be when scrolled */
    transition: background-color 0.7s ease-in-out;
  }
  @media screen and (max-width:767px) {
    
    .navbar_collapse{
        border-radius: 30% !important;
        background-color: black ;
    }
  }


