@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Varela&display=swap");
.T{
    --fa-rotate-angle: 28deg;
    color: white;
}
.t{
    --fa-rotate-angle: -28deg;
    color: white;
}
.logo{
width: 100px;
height: 60px;
}
.varelaRegular {
    font-family: "Varela", sans-serif;
    font-weight: 600 !important;
    font-size: 20px !important;
  }