  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Oxygen&family=Prompt:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco&display=swap');
  .overlay{
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
  }
  .nav-pills .nav-link.active{
    background-color: transparent !important;
  }
  #id
  {
    box-sizing: none !important;
  }
  ::selection {
    color: red;

    

  }
  .blur {
    filter: blur(8px); 
  }
.top-75{
top:75% !important
}

.top-90{
  top:90% !important
  }
  .end-10{
    right: 10px;
  }
  .vh-85{
    height: 85vh;
  }
  .bg-main {
    background-color: #fe0000 !important;
  }
  .text-orange {
    color: #fc6a25 !important;
  }
  .text-blue {
    color: blue !important;
  }
  .text-yellow {
    color: #e6bb00 !important;
  }
  .text-main {
    color: red !important;
  }
  .text-purple{
    color: #733095;
  }
  .readMore{
    transition: all 1s !important;
  }
  .readMore:hover{
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
  scale: .9;

  }
  .title{
    font-size: 50px;
  }
  .colourFont{
    font-family: "Playwrite ES Deco", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
  .shadowLg{
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.7); /* Large drop shadow */;
  }
  .text-shadowLg{
    text-shadow: 0 0 500px rgba(255, 0, 0, 0.7); /* Large drop shadow */;
    }
  .main-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal !important;
  }


  .oswald-titles{
    font-size: 85px;
    line-height: 85px;
    color: white;
  }
.top-20{
  top: 20%;
}
  .my-fs{
    font-size: 150px;
    line-height: 85px;
    color: white;
  }
  .oxygen {
    font-family: "Oxygen", sans-serif;
    font-weight: 400 !important;
    font-style: normal;
    font-size: 17px;
    color: white;
  }
  .oxygen-700 {
    font-family: "Oxygen", sans-serif;
    font-weight: 700 !important;
    font-style: normal;
    font-size: 16px;

    line-height: 16px;
    color: white;
  }
 
  .swiper {
    width: 100%;
    height: 100vh;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-2{
    top: 2%;
  }
  .end-2{
right:2%
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-v {
    background: #eee;
  }
  

  .swiper-pagination-bullet-active {
    color: #fff !important;
    background-color:#fe0000  !important;
  } 

  .swiper-pagination-bullet {
    width: 25px  !important;
    height: 25px !important;
    text-align: center;
    line-height: 25px;
    font-size: 18x;
    color: #fff;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    transition: all 1s;
  }
  .swiper-pagination-bullet:hover {
    width: 35px;
    height: 35px;
  }
  .swiper-pagination-bullet:focus {
    width: 35px;
    height: 35px;
  } 

  
  

 

  .marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
  }

  .marquee-content {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 70s linear infinite;
  }
  .marquee-content-logos {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
  }

  .marquee-content {
    font-size: 75px;
    display: inline-block;
    line-height: 100px;
    font-weight: 700;
    padding-right: 8px;
    font-style: normal;
    font-family: "Prompt", Helvetica, Arial, sans-serif;
    user-select: none;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.71);
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .w-25 {
    width: 25%;
  }




  .swiper-card {
    width: 300px;
    height: 450px;
  }
  .swiper-slide-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  .active{
    color: red  !important;
  }
  .loader {
    width: 130px;
    height: 48px;
    display: inline-block;
    background: linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000 100%), linear-gradient(45deg, #000 25%, white 25%, white 75%, #000 75%, #000 100%);
    font-size: 10px;
    background-size: 32px 32px;
    box-sizing: border-box;
    animation: raceBoard 0.6s linear infinite;
    background-position: 0 0, 16px 16px;
  }

  @keyframes raceBoard {
    0% {
      background-position: 0 0, 16px 16px;
    }
    100% {
      background-position: 32px 0px, 48px 16px;
    }
  }

  .gradient{
    background: linear-gradient(330deg, rgba(255, 0, 43, 0.268) 0%, rgba(34,6,6,1) 38%);
  }

  .trt{
    font-size: 100px;
    line-height: 100px;
    font-weight: 700;
    padding-right: 8px;
    font-style: normal;
    user-select: none;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.71);
  }
  .textSilver{
    color: silver;
  }
  .trtSmall{
    font-size:40px;
    line-height: 50px;
    font-weight: 700;
    padding-right: 8px;
    font-style: normal;
    user-select: none;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.71);
  }

  @media screen and (max-width:1200px) {
    .trt{
        font-size: 50px;
        line-height: 90px;
    } 

  }

 
  @media screen and (max-width:576px) {
    .my-fs{
      font-size: 70px;
      line-height: 85px;
      color: white;
    }
  }

